*{
margin: 0;
padding: 0;
color: #033475;
box-sizing: border-box;
font-size: 100%;
font-family: system-ui;
user-select: none;
}
#banner{
    font-size: 300%;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    letter-spacing: -4px;
}
body {
    height: 100vh;
    width: 100vw;
}

/* this is pseudo selector */
#banner > p::first-letter {
    color: #e35;
}
.tile{
     font-weight: 700;
     font-size: 400%;
     border-radius: 7px;
     padding: .5em;
     font-family: monospace;
     border: 1px solid #03347511;
}
#word{
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    position: relative;
}
#hint{
   /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#bulb{
    /* border: 1px solid red; */
    height: 3em;
    width: 3em;
    background-image: url(bulb-outline.svg);
}
#txt{
    /* border: 1px solid red; */
    font-size: 150%;
    font-weight: 500;
    font-family: monospace;
}
#cup{
    height: 4em;
    width: 4em;
    background-image: url(trophy-outline.svg);
    /* border: 1px solid red;  */
    position: relative;
    background-repeat: no-repeat;
}
#cup > i{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    background-color: #033475;
    color: #fff;
    padding: .3em .5em;
    /* border: 1px solid red; */
}
#cup:hover{
    box-shadow: 3px 3px 4px gainsboro;
}
.chevron{
    height: 5em;
    width: 5em;
    top: 50%;
    /* border: 1px solid red; */
    position: absolute;
    transform: translateY(-50%);
    border-radius: 7px;
    transition: box-shadow .5s;
}
.chevron:hover{
    box-shadow: 0px 3px 5px #ccc;
}
button{
    background: none;
    outline: none;
    border: 0;
    cursor: pointer;
}
#forward{
    left: 4em;
    background-image: url(chevron-back-outline.svg);
}
#backward{
    right: 4em;
    background-image: url(chevron-forward-outline.svg);
}
button{
    background: none;
    outline: none;
    border: 0;
    cursor: pointer;
}
#txt{
    font-size: 100%;
 } 
#hintBtn{
    height: 4em;
    width: 4em;
    /* border: 1px solid red; */
    border-radius: 7px;
    background-image:url(help-circle-outline.svg);  
}
#hintBtn{
    box-shadow: 3px 3px 3px gainsboro;
}
#restartBtn{
    height: 4em;
    width: 4em;
    border-radius: 7px;
    background-image: url(refresh-outline.svg);
}
#restartBtn:hover{
    box-shadow: 4px 4px 4px gainsboro;
}
#action{
    display: flex;
    align-items: center;
    gap: 2em;
    width: 70%;
    margin: 0 auto;
    padding: 2em 1em;
    /* border: 1px solid red; */
    width: 50%;
    padding: 3em 1em;
    background-position: 70% center;
    background-repeat: no-repeat;
    background-size: 30%;
}
#checkBtn{
    /* border: 3px solid red; */
    border-radius: 2em;
    padding-left: 2em;
    background-color: #8b008b;
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    margin-left: auto;
}
#checkBtn > span {
    color: #fff;
    font-size: 110%;
}
#checkBtn > i {
    height: 4em;
    width: 4em;
    /* border: 1px solid red; */
    background-image: url(arrow-forward-outline.svg);
}
#checkBtn > i,#restartBtn,#backward,#forward,#hintBtn,#bulb,#cup{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
footer{
    background-color: #f9f9f9;
    color: #555;
    top: 100%;
    padding: 2em;
    align-items: center;
    display: flex;
    justify-content: center;
    position: sticky;
}
#author{
    color: #555;
}
/* new css  */
#trophy, #wrap, #x_close {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
::backdrop {
    background-color: #3339;
}
[popover] {
    outline: none;
    border: 0;
}
#gameover {
    width: 360px;
    height: 488px;
    margin: auto;
    border-radius: 16px;
    overflow: hidden;
}
#wrap {
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    background-image: url('./sun_ray_pattern_stock_photos.jpg');
    background-size: cover;
}
#trophy {
    background-image: url('./trophy-outline.svg');
    height: 10em;
    width: 10em;
    /* border: 1px solid; */
    background-size: 70%;
}
@keyframes spinY {
    from {
        rotate: y 0deg;
    }
    to {
        rotate: y 180deg;
    }
}
#gameover:popover-open #trophy {
    animation: spinY .5s linear 1 backwards;
}
#total_score, pre {
    font-family: monospace;
    font-size: 400%;
    font-weight: 700;
}
sup {
    font-family: monospace;
    font-size: 70%;
}
#x_close {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    position: fixed;
    right: 3em;
    top: 3em;
    background-image: url('./close-outline.svg');
    border: 1px solid #f3f3f3;
}

/* responsive design */
@media(width <= 480px) {
    .tile {
    font-size: 100%;  
}
#forward, #backward {
    background-size: 30%;
    height: 2em;
    width: 2em;
}
 
 #action{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
 } 
 #checkBtn{
    margin-left: 0;
 } 
#restartBtn,#checkBtn,#hintBtn{
    background-size: 40%;
}
#restartBtn,#checkBtn,#hintBtn{
    background-repeat: no-repeat;
    background-position: center;
}
#checkBtn > i{
    height: 2.5em;
    width: 2.5em;
}
#checkBtn > span{
    letter-spacing: 0;
}
#checkBtn{
    padding-left: 1em;
}
}        